PORT=5000
MONGO_URI=mongodb://kanishka:kaniatlas@ac-fxdj4nh-shard-00-00.lvye5bh.mongodb.net:27017,ac-fxdj4nh-shard-00-01.lvye5bh.mongodb.net:27017,ac-fxdj4nh-shard-00-02.lvye5bh.mongodb.net:27017/online_complaint_db?replicaSet=atlas-m1cd28-shard-0&authSource=admin&tls=true&retryWrites=true&w=majority
JWT_SECRET=replace_with_strong_secret
JWT_EXPIRES_IN=1d
